# Core ML
torch>=2.0.0
torchvision>=0.15.0
numpy>=1.24.0
scikit-learn>=1.3.0
pandas>=2.0.0

# UC2 PhoBERT
transformers>=4.30.0
datasets>=2.14.0
accelerate>=0.21.0
sentencepiece>=0.1.99

# MLflow
mlflow>=2.10.0

# Metaflow
metaflow>=2.10.0

# DVC
dvc>=3.0.0
dvc-gdrive>=3.0.0

# Utilities
pyarrow>=14.0.0
